<div>
    <h2>Click the pokemons for more details and catch them!</h2>
    <ul ngClass="row">
        <app-pokemon-list-item
            *ngFor="let pokemon of pokemonList"
            [pokemon] = "pokemon"
        ></app-pokemon-list-item>
    </ul>
</div>
