<div *ngIf="pokemon">
    <div ngClass="name">
        <h1>{{pokemon.name.toUpperCase()}}</h1>
        <img src={{pokemon.sprites.front_default}} alt="Detail">
    </div>
    <div ngClass="base">
        <h2>Base Stats</h2>
        <p>Base experience: {{pokemon.baseExperience}}</p>
        <span>Types:</span>
        <span *ngFor="let type of pokemon.types">
            {{type.type.name}}
        </span>
    </div>
    <div ngClass="profile">
        <h2>Profile</h2>
        <p>Height: {{pokemon.height}}cm</p>
        <p>weight: {{pokemon.weight}}g</p>
    </div>
    <div ngClass="moves">
        <h2>Moves</h2>
        <span>Abilities: </span>
        <span *ngFor="let ability of pokemon.abilities">
            {{ability.ability.name}}
        </span>
    </div>

    <button type="button" 
            ngClass="button" 
            (click)="onCollectClick()">Catch!</button>
    <button type="button" 
            ngClass="button" 
            routerLink="/trainer">My bag</button>
</div>
