:host {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 16px;
    margin: 16px;
  }

  .name {
    margin: 24px;
  }

  .base {
    margin: 24px;
  }

  .profile {
    margin: 24px;
  }

  .moves {
    margin: 24px;
  }

  img {
    height: 60%;
    width: 60%;
  }