:host {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.row {
  list-style-type: none;
  width: 100%;
  margin: auto;
}

.row:after {
   display: table;
   clear: both;
}

 .column {
  float: left;
  width: 20%;
  padding: 2px;
}

.card {
  text-align: center;
}

h2 {
  margin-top: 32px;
  margin-bottom: 16px;
}