<div ngClass="container">
    <form ngClass="form">
        <p ngClass="description">Please enter your name to join the league.</p>
        <input type="text" 
                ngClass="input" 
                name="username" 
                placeholder="Name" 
                [(ngModel)] = "username"
                minlength="2" 
                maxlength="10">
        <button type="button" ngClass="button" (click)="onLoginClick()" routerLink="/catalogue">Let's go! Catch'em all!</button>
    </form>
</div>