.container{
    margin: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    font-size: large;
    padding: 16px;
}

.form{
    text-align: center;
    background-color: #5BFBD8;
    border-style: solid;
    border-color: #00C0EA;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    border-radius: 3px;
    height: fit-content;
    max-width: 400px;
    float: left;
    padding: 8px;
    margin: 5px;
}
