<div style="margin:5%">
    <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Sad_Face_Emoji_1024x1024.png?v=1571606037" alt="Sad Face">
    <h1>404</h1>
    <p>Oops! Page not found.</p>
    <button type="button" ngClass="button" routerLink="/">Go back home</button>
</div>