* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.input {
    background-color: white;
      border-radius: 10px;
      border-color: #007EEC;
      padding: 8px;
      margin: 16px;
      height: auto;
      width: auto;
      font-size: large;
      outline: none;
}
  
.button{
    font-size: large;
    background-color: #00C0EA;
    color: white;
    padding: 5px 28px;
    height: 44.67px;
    width: auto;
    margin: 16px;
    border-radius: 10px;
    outline: none;
    border-color: #007EEC;
    cursor: pointer;
}
